@model OilTeamProject.ViewModels.ProductStockFromViewModel
@{


    ViewBag.Title = "Order";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDash.cshtml";
}

<h2>Order</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ProductID)
    @Html.HiddenFor(m => m.SectorID)
    @Html.HiddenFor(m => m.BottlingID)
    @Html.HiddenFor(m => m.ExpirationDate)
    @Html.HiddenFor(m => m.ActualQuantity)
    @Html.HiddenFor(m => m.AvailableQuantity)


    <div class="form-group col-md-4">

        <div class="form-group">
            @Html.Label("Expiration Date")
            @Html.DisplayFor(m => m.ExpirationDate, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ActualQuantity)
            @Html.DisplayFor(m => m.ActualQuantity, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AvailableQuantity)
            @Html.DisplayFor(m => m.AvailableQuantity, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Order Quantity")
            @Html.TextBox("orderAmount")
        </div>

    </div>

    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <hr />
    <hr />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

}

