@model OilTeamProject.ViewModels.EmployeeFormViewModel
@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDash.cshtml";
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm("Create", "Employees"))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <h4>Employees</h4>
    <div id="add" class="form-group col-md-4">
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DepartmentId)
            @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DepartmentId)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RoleId)
            @Html.DropDownListFor(m => m.RoleId, new SelectList(Model.Roles, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RoleId)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Salary)
            @Html.TextBoxFor(m => m.Salary, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Salary)
        </div>
    </div>
    <div class="form-group col-md-4">
        <h4>Contact Details</h4>
        <div class="form-group">
            @Html.LabelFor(m => m.ContactDetails.MobilePhone)
            @Html.TextBoxFor(m => m.ContactDetails.MobilePhone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ContactDetails.MobilePhone)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ContactDetails.Address)
            @Html.TextBoxFor(m => m.ContactDetails.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ContactDetails.Address)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ContactDetails.City)
            @Html.TextBoxFor(m => m.ContactDetails.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ContactDetails.City)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ContactDetails.PostalCode)
            @Html.TextBoxFor(m => m.ContactDetails.PostalCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ContactDetails.PostalCode)
        </div>
    </div>
    <div class="form-group col-md-4">
        <h4>PersonalDetails</h4>
        <div class="form-group">
            @Html.LabelFor(m => m.PersonalDetails.Sex)
            @Html.EnumDropDownListFor(m => m.PersonalDetails.Sex, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PersonalDetails.Sex)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PersonalDetails.DateOfBirth)
            @Html.EditorFor(m => m.PersonalDetails.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.PersonalDetails.DateOfBirth)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PersonalDetails.CurrentFamilyStatus)<br />
            @Html.EnumDropDownListFor(m => m.PersonalDetails.CurrentFamilyStatus, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PersonalDetails.CurrentFamilyStatus)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PersonalDetails.NumberOfChildren)
            @Html.TextBoxFor(m => m.PersonalDetails.NumberOfChildren, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PersonalDetails.NumberOfChildren)
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}