<div class="col-md-2 sidebar">
    <div class="sidebar-items">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled link-hover">
                    <li>
                        <a class="sidebar-link-color link-hover" href="#">
                            <ul class="list-inline list-unstyled sidebar-link">
                                <li><img alt="" src="img/following.png"></li>
                                <li>
                                    <h4>@Html.ActionLink("Home", "Index", new { area = "", controller = "Home" })</h4>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <div class="sidebar-link-color" href="#">
                            <ul class="list-inline list-unstyled sidebar-link">
                                <li><img alt="" src="../img/folder-md.png"></li>
                                <li>
                                    <h4>@Html.ActionLink("Products", "Index", "Products")</h4>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="sidebar-link-color" href="#">
                            <ul class="list-inline list-unstyled sidebar-link">
                                <li><img alt="" src="../img/folder-md.png"></li>
                                <li>
                                    <h4>@Html.ActionLink("Categories", "Index", "Categories")</h4>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="sidebar-link-color link-hover" href="#">
                            <ul class="list-inline list-unstyled sidebar-link">
                                <li><img alt="" src="../img/folder-md.png"></li>
                                <li>
                                    <h4>@Html.ActionLink("Packages", "Index", "Packages")</h4>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="sidebar-link-color link-hover" href="#">
                            <ul class="list-inline list-unstyled sidebar-link">
                                <li><img alt="" src="../img/folder-md.png"></li>
                                <li>
                                    <h4>@Html.ActionLink("Raw Materials", "Index", "RawMaterials")</h4>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="sidebar-link-color link-hover" href="#">
                            <ul class="list-inline list-unstyled sidebar-link">
                                <li><img alt="" src="../img/folder-md.png"></li>
                                <li>
                                    <h4>@Html.ActionLink("Product Stock", "Index", "ProductStocks")</h4>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a class="sidebar-link-color link-hover" href="#">
                            <ul class="list-inline list-unstyled sidebar-link">
                                <li><img alt="" src="../img/folder-md.png"></li>
                                <li>
                                    <h4>@Html.ActionLink("Package Stock", "Index", "PackageStocks")</h4>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a class="sidebar-link-color link-hover" href="#">
                            <ul class="list-inline list-unstyled sidebar-link">
                                <li><img alt="" src="../img/folder-md.png"></li>
                                <li>
                                    <h4>@Html.ActionLink("Raw Material Stock", "Index", "RawMaterialStocks")</h4>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <div class="sidebar-link-color link-hover" href="#">
                            <ul class="list-inline list-unstyled sidebar-link">
                                <li><img alt="" src="../img/folder-md.png"></li>
                                <li>
                                    <h4>@Html.ActionLink("Messages", "Index", "Messages")&nbsp;<span class="badge label label-success">2</span></h4>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>